{
  "port": 8012,
  "appName": "invoice-service",
  "appEnv": "local",
  "appDebug": true,
  "signatureKey": "",
  "staticKey": "",

  "database": {
    "host": "localhost",
    "port": 27017,
    "name": "invoice_service",
    "username": "",
    "password": "",
    "timeout": 5
  },

  "rateLimiterMaxRequest": 5,
  "rateLimiterTimeSecond": 5,

  "sentryDsn": "",
  "sentrySampleRate": 0.2,
  "sentryEnableTracing": true,

  "gcsType": "service_account",
  "gcsProjectID": "r",
  "gcsPrivateKeyID": "",
  "gcsPrivateKey": "",
  "gcsClientEmail": "",
  "gcsClientID": "",
  "gcsAuthURI": "",
  "gcsTokenURI": """,
  "gcsAuthProviderX509CertURL": "",
  "gcsClientX509CertURL": "",
  "gcsBucketName": "",
  "gcsSignedURLTimeInMinutes": 2880,
  "gcsUniverseDomain": "",
  "gcsTimeOut": 5
}
